* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "EB Garamond", serif;
    background: #121212;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main img {
    position: absolute;
    background-size: cover;
    height: 100vh;
    opacity: 0.45;
    z-index: -1;
}

main h1 {
    position: relative;
    font-size: 7rem;
    letter-spacing: 10px;
    color: white;
    margin: 25px;
}

main a {
    position: relative;
    text-decoration: none;
    color: rgb(40, 51, 49);
    background: rgba(250, 249, 247, 0.8);
    outline: 1px solid white;
    outline-offset: 2px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background 150ms ease;
}

.transition-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    pointer-events: none;
}

.transition-container span {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    background: rgb(106, 129, 233);
}
